.new-tweet form textarea{
  background: transparent;
  border-color: transparent transparent black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
  margin: 0px;
  height: 72px;
  resize: none;
  height: 100%;
  line-height: initial;
}

.new-tweet form textarea:focus-visible{
  outline: none !important;
  /* height: 50px;
  line-height: initial; */
}



.new-tweet form output {
  float: right;
    font-family: 'Bungee';
}

.bttn-fill.bttn-primary{
  background-color: #4155a1;
  font-family: 'Bungee';
  padding: 1% 2.5%;
  margin: 5px 0;
  font-size: 1.1em;
}
.bttn-fill.bttn-primary:focus, .bttn-fill.bttn-primary:hover{
  color: #4155a1;
}