header {
  text-align: center;
  background: #f5f5f5;

}
header .back{
  background-image: url(../images/arabesque.png);
  margin-top: 85px;
}

.back h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: inherit;
  margin: 0;
  padding: 0 10px 20px;
}