nav{

  background: #4056A1;
  color: #fff;
  padding: 1.6em;
}

nav span{
  font-family: 'Bungee', cursive;
}

nav .disinline{
  display: inline;
}
nav .disinline .rightside{
  font-family: 'Source Sans Pro', sans-serif;
  float:right;
  position: relative;
}

.fa-angle-double-down{
  position: absolute;
  left: 45%;
  color:#ea4141;;
}

